/* Estructura principal que va contener todo el programa */
#window{
    display: flex;
    flex-direction: column;
    width: calc(100% - 2em);;
    height: calc(100vh - 2em);
    overflow: hidden;
    margin: 1em;
    background-color: var(--theme-bg-color);
    border-radius: 1em;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    max-width: 1250px;
    max-height: 860px;
}
/* Estructura secundaria que va contener el menu y el dashboard */
.contBodyDahsboard{
    margin: -2px 0 0 0;
    padding: 0;
    height: auto;
    min-height: 75vh;
    max-height: 85vh;
}
    .contMenuIzq{
        width: 19.5%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.07);
    }
